body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden {
    visibility: hidden;
}



.main-navigation {
    font-size: 14px;
    color: #000000;
    line-height: 26px;

    background-color: #ffffff;
}

.site-navigation,
.advantages-list,
.section-345-list {
    list-style: none;
}

.site-navigation a {
    font-weight: bold;
    color: #000000;
}

.background-image {
    min-height: 564px;
    background-color: #ffffff;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
}

.sedona-city {
    text-align: center;
}
.sedona-city h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.number {
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
}

.advantages-1 {
    text-align: center;
}
.advantages-1 h3 {
    font-size: 21px;
    color: #ffffff;
    line-height: 21px;
    font-weight: bold;
}

.advantages-1 p {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.advantages-list {
    text-align: center;
}

.recommend {
    background-color: #ffffff;
    min-height: 330px;
}
.advantages-item h3 {
    font-size: 21px;
    color: #000000;
    line-height: 21px;
    font-weight: bold;
}
.advantages-item p {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.advantages-2 {
    text-align: center;
}
.advantages-2 h3 {
    font-size: 21px;
    color: #ffffff;
    line-height: 21px;
    font-weight: bold;
}

.advantages-2 p {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.section-345 {
    text-align: center;
    background-color: #eeeeee;
    min-height: 256px;
}
.section-345-item h3 {
    font-size: 21px;
    color: #000000;
    line-height: 21px;
    font-weight: bold;
}
.section-345-item p {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.section-345-item .Number {
    color: #333333;
}

.search {
    background-color: #ffffff;
    min-height: 291px;
}

.search h2 {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.search p {
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.form-search h2 {
    background-color: #766357;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
}

.form-search input {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

.form-search label {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

.form-search input[type="submit"] {
    background-color: #81b3d2;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
}

.mine-footer {
    background-color: #fdfdfd;
}

.footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

.mine-footer.copyright {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}


/* Стили для страницы с гостиницами */

.hotels-city {
    color: #766357;
}

.form-hotels {
    background-color: #ffffff;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
}

.form-hotels legend {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.form-hotels p {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.sorting {
    background-color: #fefefe;
    min-height: 86px;
    width: 1200px;
    border-bottom: 1px #e5e5e5 solid;
}

.sorting-span {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.sorting span {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.sorting-buttons {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}
.sorting-buttons li a{
    border-bottom: 3px #81b3d2 dashed;
    color:#b1b1b1;
}

ul .sorting-buttons:first-child {
    font-size: 12px;
    line-height: 18px;
    color: #92bdd8;
}

.all-hotels {
    background-color: #fefefe;
}
.all-hotels h3 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}
.all-hotels p {
    font-size: 14px;
    line-height: 21px;
}
.all-hotels a {
    font-size: 14px;
    line-height: 21px;
    color:  #ffffff;
}

.all-hotels .button-1 {
    background-color: #81b3d2;
}
.all-hotels .button-2 {
    background-color: #766357;
}